body{
	background-image: linear-gradient(to right, #E57B89, #FF9671, #FFC75F);
    font-family: 'Poppins',sans-serif;
}

#container{
	width: 400px;
	height: 300px;
	background-color: rgba(255,255,255,0.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 120px;
	text-align: center;
} 

#container img{
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}

input{
	height: 40px;
	width: 80%;
	font-size: 18px;
	margin-bottom: 10px;
	background:#fff;
	outline: none;
	border-radius: 8px;
	padding-left: 30px;
	background-position: 3px;
	border: solid 1px #fff;
}


input.email{
	background-image: url(icone-usuario.png);
	background-repeat: no-repeat;
}

input.password{
	background-image: url(icone-cadeado.png);
	background-repeat: no-repeat;
}

.submit:hover{
	background:linear-gradient(-45deg, #FF9671,#E57B89, #FFE6D6);
}